      </div>
    </div>

    <div class="row Footer">
      <div class="span12">
        Copyright <a href="/license.html">&copy;</a> 2009-2013. <a href="http://twitter.com/mitchellh">Mitchell Hashimoto</a>.
      </div>
      <div class="span12">
           Versão oficial em <a href="http://vagrantup.com">vagrantup.com</a>. Tradução para Português do Brasil (pt_BR) por <a href="https://github.com/FriendsOfVagrant">Friends of Vagrant</a>.
      </div>
      <div class="span12">
           Ajude na <a href="https://github.com/FriendsOfVagrant/friendsofvagrant.github.com">tradução pelo Github</a>. Informe <a href="https://github.com/FriendsOfVagrant/friendsofvagrant.github.com/issues">problemas no Github</a>.
      </div>
    </div>
  </div>
</body>
</html>
