{% include header.html %}

<div class="Module homepage">
	<div class="featured-module">
		<div class="featured-text">
			<h2 class="home title">Desenvolvimento virtualizado fácil.</h2>
			<h3 class="home subtitle">Crie e configure ambientes de desenvolvimento leves, reproduzíveis e portáteis.</h3>
			<a href="http://downloads.vagrantup.com/" class="home get-started">
				<div class="button-text">Baixe Agora</div>
				<div class="download"></div>
			</a>
		</div>
		<div id="dirty-hippie"></div>
	</div>

	<div class="content row">
		<div class="left-bar span7">
			<div class="content-block">
				<h2>Porque o Vagrant Muda Tudo</h2>
				<p><strong>O Vagrant diminui o tempo de configuração de ambientes de desenvolvimento, maximiza a <a href="http://www.12factor.net/dev-prod-parity">paridade dev/prod</a> e faz com que a desculpa "na minha máquina funciona" seja coisa do passado.</strong></p>

				<p>Os desenvolvedores não precisam mais se preocupar com a configuração de componentes complicados da infraestrutura. Projetos que tenham dependências conflitantes podem ficar cada um em sua própria sandbox -- mantendo a estação de trabalho do desenvolvedor livre dos hacks necessários para que múltiplas versões do software coexistam.</p>

				<p>Engenheiros de operação não precisam mais se preocupar com os desenvolvedores tendo uma configuração local diferente da versão em produção. Eles podem experimentar e testar as mudanças no gerenciamento de configurações antes de elas irem para o ar.</p>

				<p>Ainda não está convencido? Leia mais sobre <a href="/v1/docs/getting-started/why.html">porque o Vagrant foi feito para você</a>.</p>
			</div>

			<div class="content-block">
				<h2>Configure Sua Primeira Instância</h2>
				<p>O Vagrant é tão fácil de usar que você pode colocar sua primeira máquina virtual para rodar em apenas 3 simples passos:</p>

				<div class="term">
					<ul>
						<li><span class="deep-blue">$</span> vagrant box add base http://files.vagrantup.com/lucid32.box</li>
						<li><span class="deep-blue">$</span> vagrant init</li>
						<li><span class="deep-blue">$</span> vagrant up</li>
					</ul>
				</div>

				<p>Pronto para seguir em frente? Continue no <a href="/v1/docs/getting-started/index.html">guia de iniciação</a>.</p>
			</div>
		</div>

		<div class="right-bar span4">
			<img src="/static/images/comp.png" alt="Empresas usando o Vagrant" />
		</div>
	</div>
</div>

{% include footer.html %}
